---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
BreakBeforeBinaryOperators: NonAssignment
PointerAlignment: Right
DerivePointerAlignment: false
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: false

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true

BinPackArguments: true
BinPackParameters: true
IndentCaseLabels: false
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
BreakStringLiterals: false
MaxEmptyLinesToKeep: 2
InsertNewlineAtEOF: true
...
